[defaults]
inventory = hosts.yaml
vault_password_file = .vault_pass
deprecation_warnings=False
# host_key_checking = False # This changed to auto adding the host to the known_hosts file

[ssh_connection]
ssh_args = -o StrictHostKeyChecking=accept-new -o UserKnownHostsFile=/dev/null
